*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:whitesmoke;
}
.container{
    width: 800px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.textbox-inputbox{
    width: 400px;
}
.textbox-inputbox > div{
    margin: 10px 0;
    margin-left: 35px;
    padding: 5px;
}
.img-tag{
    width: 400px;
    height: 400px;
}
img{
    width: 100%;
    height: 100%;
}
h2{
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: bold;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
}
#setValue{
    padding: 8px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1.5px solid plum;
    margin-left: 20px;
}
.checkbox{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}
.check {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

label {
    font-size: 16px;
    cursor: pointer;
}
button{
    padding: 10px 20px ;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border:none;
    color: white;
    background-color:darkgoldenrod;
    cursor: pointer;
}
button:hover{
    background-color: lightslategray;
}

.password-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.password-box >h1{
    margin: 20px 0;
    letter-spacing: 7px;
    color:darkolivegreen;
}
.password-box >h2{
    text-align: center;
}
.error{
    margin: 10px 0;
    margin-left: 30px;
    color: red;
    font-weight: 600;
}
@media screen and (max-width:750px) {
    body{
        width: 100%;
        min-height: 100vh;
        background-color: white;
    }

    .container {
        width: 650px;
        background-color: white;
        border-radius: 0;
        flex-flow: column;
        box-shadow: none;
    }
    .img-tag {
        display: none;
    }
    h2 {
        font-size: 3rem;
        text-align: center;
        margin-top: 15px;
    }
    #setValue {
        width: 80%;
        margin-left: 20px;
        border: 2px solid rgb(114, 189, 235);
    }
    .textbox-inputbox {
        width: 650px;
        padding: 5px;
        margin-left: 15px;
    }
    .pass-success {
        font-size: 1.8rem;
    }
    .password-box {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .submit {
        margin-left: 50px;
    }

}
@media screen and (max-width:400px) {
    .container{
        width: 375px;
    }
    .img-tag {
        width: 370px;
        height: 360px;
        display: block;
    }

    img {
        
        width: 100%;
        height: 100%;
    }
    h2 {
        font-size: 1.8rem;
    }
    #setValue {
        width: 90%;
        margin-left: 20px;
    }
    .textbox-inputbox {
        width: 375px;
    }
    .submit{
        margin-left: 50px;
    }
    .pass-success{
        font-size: 1.4rem;
    }
    .password-box {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        animation: forwards allOne .5s ease-in-out;
    }
    @keyframes allOne {
        0%{
            transform: translateX(-120%);
        }
        100%{
            transform: translateX(0);
        }
    }
    
}